<main-action-bar></main-action-bar>

<div id="content_area">
    <h3 class="topcoat-list__header">Profile</h3>
    <ul class="topcoat-list">
        <li class="topcoat-list__item">
        <table>
            <tr>
                <td class="destination_label">Casa</td>
                <td>
                    <span class="topcoat-icon arrow-right-icon"></span>
                </td>
                <td class="destination_label">Lavoro</td>
                
                <input type="text" class="topcoat-text-input" value="8:00 AM"></input>
                
                <input type="checkbox">
                <br />
                <input type="checkbox">
                
            </tr>
        </table>
        </li>
    </ul>
        
        
     

    </ul>
</div>