<main-action-bar></main-action-bar>
<div id="content_area">
    <h3 class="topcoat-list__header">History</h3>
    <ul class="topcoat-list">
        
        <li class="topcoat-list__item">
        <table width="100%" class="history_view">
            <tr>
                <td width="40%" align="center" class="history_label">5 Giu 2014</td>
                <td width="60%" align="center" class="history_label">da Casa a Lavoro</td>
            </tr>
            <tr>
                <td align="center" class="history_label">
                    <span class="hist_ontime">07:13 ~ 7:58</span>
                </td>
                <td align="center" class="history_label">38km in 45min</td>
            </tr>
        </table>
        </li>
        
        <li class="topcoat-list__item">
        <table width="100%" class="history_view">
            <tr>
                <td width="40%" align="center" class="history_label">4 Giu 2014</td>
                <td width="60%" align="center" class="history_label">da Casa a Lavoro</td>
            </tr>
            <tr>
                <td align="center" class="history_label">
                    <span class="hist_ontime">07:10 ~ 7:55</span>
                </td>
                <td align="center" class="history_label">38km in 45min</td>
            </tr>
        </table>
        </li>
        
        <li class="topcoat-list__item">
        <table width="100%" class="history_view">
            <tr>
                <td width="40%" align="center" class="history_label">3 Giu 2014</td>
                <td width="60%" align="center" class="history_label">da Casa a Lavoro</td>
            </tr>
            <tr>
                <td align="center" class="history_label">
                    <span class="hist_late">07:10 ~ 8:02</span>
                </td>
                <td align="center" class="history_label">38km in 52min</td>
            </tr>
        </table>
        </li>
        
    </ul>
</div>