<main-navivation></main-navivation>
<div class="hero-unit">
    <h1>Welcome to Winfo</h1>
    <span class="label label-warning">On</span>
    <span class="label label-success">About</span>
    
    <span class="badge">L</span>
    <span class="badge badge-success">M</span>
    <span class="badge badge-success">M</span>
    <span class="badge badge-success">G</span>
    <span class="badge badge-success">V</span>
    <span class="badge badge-success">S</span>
    <span class="badge">D</span>
    
    

    
</div>
